*{
    margin: 0;
    padding: 0;
}
body
{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(travel.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;  
}
.navbar
{
    display: flex;
    background-color: white;
    justify-content: space-between;
    margin-bottom: 3px;
    
}
nav {
    margin: 20px;
    padding: 5px;
    margin-top: 5px;
    justify-content: space-between;

}
.navbar nav ul
{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 

}
li {
    float: left;
}
 li  a {
    display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: robotto, "sans-serif";
  font-size: 15px;
 

}
.logo
{
cursor: pointer;
float: left;
width: 90px;
margin: 20px;
margin-top: 0px;
}


  

.container {
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
}
h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 180px;
  
    
}
p {
    color: white;
    text-align: center;
    margin-top: 20px;
    word-spacing: 2px;
    letter-spacing: 1px;
}
.button-59 {
    align-items: center;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: robotto, "sans-serif";
    font-size: 15px;
    margin-left: 500px;
    margin-top: 30px;
    
  }
  
  .button-59:focus {
    color: #171e29;
  }
  
  .button-59:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  .button-59:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  @media (min-width: 768px) {
    .button-59 {
      min-width: 170px;
    }
  }
 
  
